body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg{
  background-image: url(https://verdant-truffle-0bb2b2.netlify.app/static/media/hero-bg.822fc08e021b0f992c42.jpg);
  height: 100vh;
  width:100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
}
 .bg h1{
  max-width: 450px;
  
   
  
}
.bg p{
  max-width: 600px;
}




#about{
  border-radius: 25px;
  border:2px solid #dd3544;
  /* background-color:#dd3544; */
  padding: 10px;
  text-decoration: none;
  
  /* width: ; */
}
#about:hover{
  background-color: #dd3544;
  border:black;
}